html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(left,#ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.rounded{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 50px;
}